.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1rem minmax(100px, auto) fit-content(400px);
  gap: 1rem;
  row-gap: 5vh;
  background-color: bisque;
  padding: 1rem;
  min-height: 90vh;
}

.shop > h1 {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .shop {
    display: flex;
    flex-direction: column;
  }
}
