.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  height: 90vh;
}

.product-container {
  height: 100%;
  display: flex;
  flex-basis: 75%;
  flex-direction: column;
  align-items: center;
}

.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  min-height: 80%;
  margin: auto;
}

.detail-card > .product-body > img {
  width: 33%;
  height: auto;
}

.backBtn {
  text-decoration: none;
  color: crimson;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  align-self: flex-start;
  margin-left: 1rem;
}

.backBtn:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 200ms linear;
}

.product-description {
  width: 75%;
  text-align: justify;
}

.rating {
  margin-bottom: 0;
}

.product-rating {
  margin-top: 0;
}

.addToCartBtn {
  width: 75%;
  height: 2.5rem;
  background-color: rgb(50, 50, 50);
  color: whitesmoke;
  border: none;
  border-radius: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToCartBtn:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.cartIcn {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .detail-card {
    padding: 0 1rem;
    min-height: unset;
    padding-bottom: 1rem;
  }

  .product-container {
    flex-basis: 100%;
  }

  .backBtn {
    align-self: center;
    margin-left: 0;
  }
}
