.cartItem-container {
  background-color: whitesmoke;
  padding: 0 1rem;
  border: solid 1px black;
}

.amount-container {
  display: flex;
  justify-items: center;
  align-items: center;
  /* height: 2rem; */
  margin: 1rem 0;
}

.amount-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.cartItem-amount {
  padding: 0 1rem;
  font-size: larger;
}

.amount-container > button {
  background-color: rgb(84, 84, 84);
  color: whitesmoke;
  border: none;
  border-radius: none;
  height: 2rem;
}
.amount-container > .removeItemBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background-color: rgb(185, 18, 18);
  color: whitesmoke;
  border: none;
  border-radius: none;
  margin-left: auto;
}
